@include font('icons', '../icons/icons.woff2', '../icons/icons.woff', '../icons/icons.ttf', '../icons/icons.eot');
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-login:before { content: '\e800'; } 
.icon-category:before { content: '\e801'; }
.icon-search:before { content: '\e802'; }
.icon-help:before { content: '\e803'; }
.icon-open:before { content: '\e804'; }
.icon-star-full:before { content: '\e805'; }
.icon-star-empty:before { content: '\e806'; }
.icon-star-half:before { content: '\f123'; }