// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// a {
//   text-decoration: none;
//   color: black;
// }

// svg {
//   fill: white;
// }

// h1 {
//   font-weight: normal;
// }

// button {
//   background: none;
//   border: none;

//   &:hover {
//     cursor: pointer;
//   }
// }

// html {
//   overflow-x: hidden;
// //  font-family: $regular;
//   width: 100vw;
// }

body {
  @include flex(column, flex-start, center);

  //overflow-x: hidden;
}

header{
  @include flex(row, center, center);
  background-color: $primaty-color;
  width: 100%;

  .navbar{
    max-width: $max-width;
    width: 100%;
    border: 1px solid white;

    a{
      color: white;
    }

    .navbar-nav{
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}


main{
  @include flex(column, center, center);
  max-width: $max-width;
  width: 100%;
  border: 1px solid black;

  form{
    @include flex(row, center, center);
    width: 100%;
    
    .btn{
      margin-left: 25px;
    }
  }

  .list-group{
    width: 100%;
    //max-width: $max-width;
  }


}

footer{
  @include flex(row, center, center);
  border: 1px solid black;
  height: 200px;
  width: 100%;

  .list-group{
    width: auto;
    //max-width: $max-width;
  }
}

