<!DOCTYPE html>
<html lang="ru">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Тестове завдання</title>
  <% if(NODE_ENV==='development') { %>
    <link rel="stylesheet" href="styles.css">
    <% } %>
</head>

<body>
  <header>
    <nav class="menu" id="kek">
      <a href="">ulance</a>
      <a href="#">Консультация</a>
      <a href="#">Услуги</a>
      <a href="#">Юристы</a>
      <a href="#">Как это работает</a>
      <div class="input-menu">
        <button class="icon-search" id="searchMenu"></button>
        <button class="icon-open"></button>
        <input type="text" placeholder="Поиск клиентов" name="searchMenu">
      </div>
      <button class="icon-login"></button>
    </nav>
  </header>

  <main>
    <h2>Бесплатная консультация</h1>

      <div class="main-search">
        <div class="main-input">
          <span class="icon-search"></span>
          <input type="text" name="search" placeholder="Текст">
          <button class="icon-category">&nbsp;&nbsp;Категория</button>
        </div>
        <button class="main-search-btn icon-search" id="search"></button>
        <button class="main-search-btn icon-help"></button>
      </div>

      <div class="dropdown">
        <div class="kategory">
          <ul class="nav">
            <li class="budget city">Корпоративное право</li>
            <li class="rate reviews city">Медицинское право</li>
            <li class="budget term date">Право Интелектуально собственности</li>
            <li class="city">Уголовное право</li>
          </ul>
          <ul class="nav">
            <li class="date term city">Автомобильное право</li>
            <li class="city reviews date">Семейное право</li>
            <li class="reviews term">Земельное право</li>
            <li class="term rate budget">Общеобразовательное право</li>
          </ul>
          <ul class="nav">
            <li class="city rate reviews">Налоговое право</li>
            <li class="date rate">Гражданское право</li>
            <li class="term budget">Защита прав потребителя</li>
            <li class="budget date">Военное право</li>
          </ul>
        </div>

        <div class="more">

          <div id="budget">
            <label>Бюджет:</label>
            <div class="input-group">
              <input type="text" name="budgetOt" placeholder="от">
              <input type="text" name="budgetDo" placeholder="до">
            </div>
          </div>

          <div id="term">
            <label>Срок:</label>
            <div class="input-group">
              <input type="text" name="termOt" placeholder="от">
              <input type="text" name="termDo" placeholder="до">
            </div>
          </div>

          <div id="date">
            <label>Дата:</label>
            <div class="input-group">
              <input type="text" name="dateOt" placeholder="от">
              <input type="text" name="dateDo" placeholder="до">
            </div>
          </div>

          <div id="rate">
            <label for="rate">Рейтинг:</label>
            <input type="number" name="rate">
          </div>

          <div id="reviews">
            <label for="reviews">Отзывы:</label>
            <input type="number" name="reviews">
          </div>

          <div id="city">
            <label for="city">Город:</label>
            <input type="text" name="city">
          </div>

        </div>
      </div>

      <div id="list"><h3 class="error">Loading...</h3></div>

      <ul id="pagination">
        <li id="prev">&#171;</li>
        <li id="page1" class="active">1</li>
        <li id="page2">2</li>
        <li id="page3">3</li>
        <li id="page4">4</li>
        <li id="page5">5</li>
        <li id="next">&#187;</li>
      </ul>

  </main>

  <footer>
    <div class="footer-content">
      <ul>
        <li>
          <a href="#">
            <h5>О сайте</h5>
          </a>
        </li>
        <li><a href="#">Правила</a></li>
        <li><a href="#">Помощь</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
      <ul>
        <li>
          <a href="#">
            <h5>Войти</h5>
          </a>
        </li>
        <li><a href="#">Зарегистрироваться</a></li>
        <li><a href="#">Востановить доступ</a></li>
        <li><a href="#">Рекомендации Исполнителям</a></li>
        <li><a href="#">Рекомендации заказчикам</a></li>
      </ul>
      <ul>
        <li>
          <a href="#">
            <h5>Опубликовать роботу</h5>
          </a>
        </li>
        <li><a href="#">Консультации</a></li>
        <li><a href="#">Поиск по сайту</a></li>
        <li><a href="#">Реклама на сайте</a></li>
      </ul>

      <div class="social-links">
        <span>
        <a href="/" id="twitter"></a>
        <a href="/" id="facebook"></a>
        <a href="/" id="google"></a>
      </span>
        <span>
        <a href="" id="linkedin"></a>
        <a href="" id="vk"></a>
        <a href="" id="odnoklasniki"></a>
      </span>
      </div>
    </div>

    <h5 class="copyriting">Ulance.com.ua<span>&nbsp;&#169;&nbsp;</span>2014</h5>
    </div>
  </footer>
  <script src="js/index.js"></script>
  <script src="js/dropdown.js"></script>
  <script src="js/pagination.js"></script>
  <script src="js/search.js"></script>
</body>

</html>