<!DOCTYPE html>
<html lang="ru">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Тестове завдання</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
  <% if(NODE_ENV==='development') { %>
    <link rel="stylesheet" href="styles.css">
  <% } %>
</head>

<body>
  <header>
    <nav class="menu">
      <a href="">ulance</a>
      <a href="#">Консультация</a>
      <a href="#">Услуги</a>
      <a href="#">Юристы</a>
      <a href="#">Как это работает</a>
      <div class="input-group">
          <!-- <button class="icon-search"></button>
          <button class="icon-open"></button> -->
          <input type="text" placeholder="Поиск клиентов">
      </div>
      <button class="icon-login"></button>
    </nav>
  </header>

  <main>
    <h2>Бесплатная консультация</h1>

  <div class="main-search">
    <div class="main-input">  
      <span class="icon-search"></span>
      <input type="text" placeholder="Текст">
      <button class="icon-category">&nbsp;Категория</button>
    </div>
    <button class="main-search-btn icon-search"></button>
    <button class="main-search-btn icon-help"></button>
  </div>

  <div class="dropdown">
    <div class="kategory">
        <ul class="nav">
          <li><a href="#">Корпоративное право</a></li>
          <li><a href="#">Медицинское право</a></li>
          <li><a href="#">Право Интелектуально собственности</a></li>
          <li><a href="#">Уголовное право</a></li>
        </ul>
        <ul class="nav">
          <li><a href="#">Автомобильное право</a></li>
          <li><a href="#">Семейное право</a></li>
          <li><a href="#">Земельное право</a></li>
          <li><a href="#">Общеобразовательное право</a></li>
        </ul>
        <ul class="nav">
          <li><a href="#">Налоговое право</a></li>
          <li><a href="#">Гражданское право</a></li>
          <li><a href="#">Защита прав потребителя</a></li>
          <li><a href="#">Военное право</a></li>
        </ul>
    </div>
    <div class="block"></div>
  </div>

  <div id="list">
    <!-- <article class="list-item">
        <div>
          <h3>titile</h3>
          <p>desc</p>
          <div class="list-item-info">
            <span class="rate">
              <i class="icon-star-full"></i>
              <i class="icon-star-full"></i>
              <i class="icon-star-full"></i>
              <i class="icon-star-full"></i>
              <i class="icon-star-full"></i>
            </span>
            <span class="done">Работ выполнено:<span>111</span></span>
            <span class="reviews">Отзывов:<span>111</span></span>
          </div>
        </div>
        <button>Открыть</button>
      </article> -->


      <script>
          const list = document.getElementById('list');
          
          for (let index = 0; index < 5; index++) {
            let listItem = document.createElement('article'); 
            let title = 'title';
            let bot = 'bot';
            let description = 'desc';
            let done = 111;
            let reviews = 111;
            let rate = '<i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i>';
            listItem.href = '/';
            listItem.className = 'list-item'; 

            listItem.innerHTML = '<div><h3>' + title + '</h3><p>' + description + '</p><div class="list-item-info"><span class="rate">' + rate + '</span><span class="done">Работ выполнено:<span>' + done + '</span></span><span class="reviews">Отзывов:<span>' + reviews + '</span></span></div></div><button>Открыть</button>';
      
            list.appendChild(listItem);   
          }
      
          </script>
  </div>


  <div id="pagination"></div>
  </main>

  <footer>
    <div class="footer-content">
      <ul>
          <li><a href="#"><h5>О сайте</h5></a></li>      
           <li><a href="#">Правила</a></li>
           <li><a href="#">Помощь</a></li>
           <li><a href="#">Контакты</a></li>
      </ul>
      <ul>
        <li><a href="#"><h5>Войти</h5></a></li>      
        <li><a href="#">Зарегистрироваться</a></li>
        <li><a href="#">Востановить доступ</a></li>
        <li><a href="#">Рекомендации Исполнителям</a></li>
        <li><a href="#">Рекомендации заказчикам</a></li>
     </ul>
     <ul>
        <li><a href="#"><h5>Опубликовать роботу</h5></a></li>      
        <li><a href="#">Консультации</a></li>
        <li><a href="#">Поиск по сайту</a></li>
        <li><a href="#">Реклама на сайте</a></li>
      </ul>

    <div class="social-links">
      <span>
        <a href="/" id="twitter"></a>
        <a href="/" id="facebook"></a>
        <a href="/" id="google"></a>
      </span>
      <span>
        <a href="" id="linkedin"></a>
        <a href="" id="vk"></a>
        <a href="" id="odnoklasniki"></a>
      </span>
    </div>
    </div>

    <h5 class="copyriting">Ulance.com.ua<span>&nbsp;&#169;&nbsp;</span>2014</h5></div>
  </footer>
</body>

</html>