<!DOCTYPE html>
<html lang="ru">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Тестове завдання</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
  <% if(NODE_ENV==='development') { %>
    <link rel="stylesheet" href="styles.css">
  <% } %>
</head>

<body>
  <header>
    <nav class="menu">
      <a href="">ulance</a>
      <a href="#">Консультация</a>
      <a href="#">Услуги</a>
      <a href="#">Юристы</a>
      <a href="#">Как это работает</a>
      <div class="input-group">
          <!-- <button class="icon-search"></button>
          <button class="icon-open"></button> -->
          <input type="text" placeholder="Поиск клиентов">
      </div>
      <button class="icon-login"></button>
    </nav>
  </header>



  <footer>
    <div class="footer-content">
      <ul>
          <li><a href="#"><h5>О сайте</h5></a></li>      
           <li><a href="#">Правила</a></li>
           <li><a href="#">Помощь</a></li>
           <li><a href="#">Контакты</a></li>
      </ul>
      <ul>
        <li><a href="#"><h5>Войти</h5></a></li>      
        <li><a href="#">Зарегистрироваться</a></li>
        <li><a href="#">Востановить доступ</a></li>
        <li><a href="#">Рекомендации Исполнителям</a></li>
        <li><a href="#">Рекомендации заказчикам</a></li>
     </ul>
     <ul>
        <li><a href="#"><h5>Опубликовать роботу</h5></a></li>      
        <li><a href="#">Консультации</a></li>
        <li><a href="#">Поиск по сайту</a></li>
        <li><a href="#">Реклама на сайте</a></li>
      </ul>

    <div class="social-links">
      <span>
        <a href="/" id="twitter"></a>
        <a href="/" id="facebook"></a>
        <a href="/" id="google"></a>
      </span>
      <span>
        <a href="" id="linkedin"></a>
        <a href="" id="vk"></a>
        <a href="" id="odnoklasniki"></a>
      </span>
    </div>
    </div>

    <h5 class="copyriting">Ulance.com.ua<span>&nbsp;&#169;&nbsp;</span>2014</h5></div>
  </footer>
</body>

</html>